$size-xs: 0.75rem;
$size-sm: 0.875rem;
$size-base: 1rem;
$size-lg: 1.125rem;
$size-xl: 1.25rem;
$size-2xl: 1.5rem;
$size-3xl: 1.875rem;
$size-4xl: 2.25rem;
$size-5xl: 3rem;
$size-6xl: 3.75rem;
$size-7xl: 4.5rem;
$size-8xl: 6rem;
$size-9xl: 8rem;

$radius-1: 0.5rem;
$radius-2: 0.25rem;
$radius-3: 0.15rem;

$media-sm: 640px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1280px;
$media-2xl: 1536px;

$bg-color: hsl(0, 0%, 20%);
$fg-color: hsl(187, 98%, 45%);
$fg-light-color: hsl(0, 3%, 64%);

$button-bg-color: hsl(231, 25%, 37%);
$button-bg-color-selected: darken($button-bg-color, 6);
$button-border-color: hsl(0, 0%, 84%);
$button-border-color-selected: darken($button-border-color, 3);

$info-color: hsla(189, 97%, 39%, 0.184);
$success-color: hsla(140, 76%, 57%, 0.43);
$warning-color: hsla(56, 100%, 50%, 0.318);
$error-color: hsla(0, 100%, 50%, 0.266);
